<div class="container">
  <h2>Booking details</h2>
  <div class="booking-details" *ngIf="bookingData">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n> Details </mat-panel-title>
        </mat-expansion-panel-header>
        <div><strong>Booking Code:</strong> {{ bookingData.bookingCode }}</div>
        <div>
          <strong>Itinerary Type:</strong> {{ bookingData.itinerary.type }}
        </div>
        <div>
          <strong>Contact Email:</strong>
          {{ bookingData.contactDetails[0].address }}
        </div>
        <div>
          <strong>Itinerary Type:</strong> {{ bookingData.itinerary.type }}
        </div></mat-expansion-panel
      ></mat-accordion
    >

    <mat-accordion multi>
      <mat-expansion-panel
        *ngFor="let connection of bookingData.itinerary.connections"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Connections </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="connection">
          <div><strong>Connection ID:</strong> {{ connection.id }}</div>
          <div><strong>Duration:</strong> {{ connection.duration }}</div>
          <div><strong>Origin:</strong> {{ connection.origin.name }}</div>
          <div>
            <strong>Destination:</strong> {{ connection.destination.name }}
          </div>

          <mat-accordion multi>
            <mat-expansion-panel *ngFor="let segment of connection.segments">
              <mat-expansion-panel-header>
                <mat-panel-title> Segments </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="segment">
                <div><strong>Segment ID:</strong> {{ segment.id }}</div>
                <div><strong>Type:</strong> {{ segment.type }}</div>
                <div>
                  <strong>Departure:</strong> {{ segment.departFrom.name }}
                </div>
                <div><strong>Arrival:</strong> {{ segment.arriveOn.name }}</div>
                <div>
                  <strong>Flight Number:</strong>
                  {{ segment.marketingFlight.number }}
                </div>
                <div>
                  <strong>Carrier:</strong>
                  {{ segment.marketingFlight.carrier.name }}
                </div>
                <div>
                  <strong>Status:</strong>
                  {{ segment.marketingFlight.status.name }}
                </div>
                <div>
                  <strong>Number of Stops:</strong>
                  {{ segment.marketingFlight.numberOfStops }}
                </div>
                <div>
                  <strong>Selling Class:</strong>
                  {{ segment.marketingFlight.sellingClass.code }}
                </div>
                <div>
                  <strong>Operating Flight Number:</strong>
                  {{ segment.marketingFlight.operatingFlight.number }}
                </div>
                <div>
                  <strong>Duration:</strong>
                  {{ segment.marketingFlight.operatingFlight.duration }}
                </div>
                <div>
                  <strong>Flown:</strong>
                  {{ segment.marketingFlight.operatingFlight.flown }}
                </div>
                <div>
                  <strong>Check-in Start:</strong>
                  {{ segment.marketingFlight.operatingFlight.checkInStart }}
                </div>
                <div>
                  <strong>Local Check-in Start:</strong>
                  {{
                    segment.marketingFlight.operatingFlight.localCheckInStart
                  }}
                </div>
                <div>
                  <strong>Check-in End:</strong>
                  {{ segment.marketingFlight.operatingFlight.checkInEnd }}
                </div>
                <div>
                  <strong>Local Check-in End:</strong>
                  {{ segment.marketingFlight.operatingFlight.localCheckInEnd }}
                </div>
                <div>
                  <strong>Scheduled Arrival:</strong>
                  {{ segment.marketingFlight.operatingFlight.scheduledArrival }}
                </div>
                <div>
                  <strong>Local Scheduled Arrival:</strong>
                  {{
                    segment.marketingFlight.operatingFlight
                      .localScheduledArrival
                  }}
                </div>
                <div>
                  <strong>Scheduled Departure:</strong>
                  {{
                    segment.marketingFlight.operatingFlight.scheduledDeparture
                  }}
                </div>
                <div>
                  <strong>Local Scheduled Departure:</strong>
                  {{
                    segment.marketingFlight.operatingFlight
                      .localScheduledDeparture
                  }}
                </div>
                <div>
                  <strong>Arrival Terminal:</strong>
                  {{
                    segment.marketingFlight.operatingFlight.arrivalTerminal.name
                  }}
                </div>
                <div>
                  <strong>Cabin:</strong>
                  {{ segment.marketingFlight.operatingFlight.cabin.name }}
                </div>
                <div>
                  <strong>Equipment:</strong>
                  {{ segment.marketingFlight.operatingFlight.equipment.name }}
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button mat-button [mat-dialog-close]="bookingData" cdkFocusInitial>
    Ok
  </button>
</div>
