.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--scondary) !important;
}
.bg-grey {
  background-color: var(--grey) !important;
}
.bg-red {
  background-color: var(--red) !important;
}
