@use "branding" as b;

h1 {
  font-family: "Cantarell 600 SemiBold", sans-serif !important;
  font-size: 30px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  line-height: 1.3em !important;
}
h2 {
  font-size: 26px !important;
  font-weight: 400 !important;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: b.$base-margin 0;
}
