@use "branding" as b;

.container {
  height: 100%;

  @media only screen and (min-width: 769px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  @media only screen and (min-width: 769px) {
    border: 1px solid var(--scondary);
    width: 30%;
  }
  text-align: center;
  padding: 3 * b.$base-padding;
  p {
    text-align: left;
    padding: 1 * b.$base-padding 0;
  }
  hr {
    width: 35px;
    height: 4px;
    background: var(--scondary);
    border: 0;
  }
  .form-fields {
    text-align: left;
    & > * {
      padding: 0 0 1.5 * b.$base-padding 0px;
    }
    label {
      padding: 0;
      font-weight: 500;
    }
    button {
      padding-top: 1.5 * b.$base-padding;
    }
  }
}

// Angular material overrides
::ng-deep {
  .mat-mdc-text-field-wrapper {
    border: 1px solid var(--grey);
    border-radius: 0 !important;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-mdc-form-field-hint-wrapper {
    padding: 0 !important;
  }
  .mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
  }
}
